<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>modify</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<h2><a th:href="@{/hello}">hello</a></h2>
<form th:action="@{/modify}" method="post">
    <div><label> Name : <input type="text" name="name"/> </label></div>
    <div><label> Email: <input type="text" name="email"/> </label></div>
    <div><label> Username : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Update"/></div>
</form>
</body>
</html>