<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>modify</title>
</head>
<body>
<div th:text="${msg}">
</div>
<h2><a th:href="@{/index}">index</a></h2>
<form th:action="@{/modify}" th:object="${sysUser}" method="post">
    <div><label> Username : <input type="text" th:field="*{username}" disabled="true"/> </label></div>
    <div><label> Name : <input type="text" th:field="*{name}"/> </label></div>
    <div><label> Email: <input type="text" th:field="*{email}"/> </label></div>
    <div><label> New Password: <input type="password" th:field="*{newPassword}"/> </label></div>
    <div><input type="submit" value="Update"/></div>
</form>
</body>
</html>