<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>register</title>
</head>
<body>
<div th:text="${msg}">
</div>
<form th:action="@{/register}" th:object="${sysUser}" method="post">
    <table>
        <tr>
            <td>Username :
            </td>
            <td><input type="text" th:field="*{username}"/>
            </td>
        </tr>
        <tr>
            <td>Name :
            </td>
            <td><input type="text" th:field="*{name}"/>
            </td>
        </tr>
        <tr>
            <td>Email:
            </td>
            <td><input type="text" th:field="*{email}"/>
            </td>
        </tr>
        <tr>
            <td>Password:
            </td>
            <td><input type="password" th:field="*{password}"/>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Register"/>
            </td>
            <td><input type="button" value="Reset" onclick="reset()"/>
            </td>
        </tr>
    </table>
</form>
<script>
    function reset(){
        document.getElementsById('username') = '';
        document.getElementsById('password') = '';
        document.getElementsById('user') = '';
        document.getElementsById('email') = '';
    }
</script>
</body>
</html>